ul {
  list-style: none;
}

li {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  transition: transform 1s, position 2s;
}

li.killed {
  transform: translateX(1000px);
  transform-origin: left;
}

button.delete {
  align-self: flex-start;
  border-radius: 50px;
  border: solid;
  color: #fff;
  cursor: pointer;
  background-color: #3d8299;
  width: auto;
}


